

h1{
    text-align: center;
    color: crimson;
    
}   

/* div{
    max-width: 400px;
    width: 50%;
    border: 3px solid firebrick;
    margin: auto;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0;
} */
 div.relativo{
    position: relative;
    /* width: 300px; */
    /* height: 200px; */
    border: 3px solid blueviolet;
    background-color: whitesmoke;
    top: 10px;
    left: 10px;
 }

div.absoluto{
    /* max-width: 400px; */
    /* width: 50%; */
    border: 3px solid firebrick;
    background-color: whitesmoke   ;
    /* margin: auto; */
    position: absolute;
    /* top: 0px; */
    /* left: 0px; */
    bottom: 0px;
    right: 0px;
    padding: 5px;
    z-index: -1;
}

div.sticky{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    border: 3px solid green;
    /* background-color: yellow; */
}

div.estatico{
    border: 3px solid greenyellow;
    background-color: whitesmoke;
    position: static;
    padding: 15px;
    z-index: 1;
}