
/* @import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */

 /* @import url('https://fonts.googleapis.com/css2?family=Sofia&family=Roboto&display=swap'); */
 @import url('https://fonts.googleapis.com/css?family=Sofia|Roboto&effect=shadow-multiple&display=swap');

.sofia-regular {
  font-family: "Sofia", cursive;
  font-weight: 400;
  font-style: normal;
}


h1{
    color: #ef476f;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #ced4da;
    font-family: 'Sofia' , cursive;
}

.caja{
    padding: 5px;
    width: 40%;
    height: 80px;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin: 10px;
    font-size: 20px;
    float: left;
}

.caja.serif{
    background-color: #5a189a;
}

.caja.sans-serif{
    background-color: #00b4d8;
}

.caja.monospace{
    background-color: #f15bb5;
}

.caja.cursiva{
    background-color: #ff8500;
}

.fuente_times{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-variant: small-caps;
    font-size: 20px;
}

.fuente_georgia{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    font-variant: normal;
    font-size: 1.25em;

}

.fuente_arial{
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-weight: bolder;
    font-size: 2vw;  /* alto en base al procentaje del w o h de la ventana*/
}

.fuente_verdana{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}

.fuente_courier{
    font-family: 'Courier New', Courier, monospace;
}

.fuente_lucida{
    font-family: 'Lucida Handwriting' , cursive;
}

.fuente_roboto{
       font-variant: small-caps;
    font-family:  'Roboto', sans-serif;
}

.fuente_attrib{
    font : italic small-caps bolder 20px Roboto, sans-serif;
}