h1{
    text-align: center;
    color: #e63946;
}

/* div{
    padding: 10px 5px 15px 3px;
    border: 1px solid #457b9d;
    margin: 0px;
    background-color: #f1faee;
    width: 300px;
    max-width: 100%;
    outline: 10px solid  #a8dadc;
    outline-offset: 10px ;
    box-sizing: border-box;
} */

/* *{
    margin: 0px;
    padding: 0px;
} */
/* 
div{
    padding: 10px 5px 15px 3px;
    border: 1px solid #457b9d; */
    /* margin: 0 auto; */
    /* margin-left: 100px;
    background-color: #f1faee;
    width: 300px; */
    /* max-width: 100%; */
    /* outline: 10px solid  #a8dadc;
    outline-offset: 10px ; */
    /* box-sizing: border-box;
} */

p.interno{
    margin-left: inherit;
}


.exdiv{
    padding: 10px 5px 15px 3px;
    border: 1px solid #457b9d;
    /* margin: 0 auto; */
    margin: 20px;
    background-color: #f1faee;
    width: 300px;
    /* max-width: 100%; */
    /* outline: 10px solid  #a8dadc;
    outline-offset: 10px ; */
    box-sizing: border-box;
}

.caja1{
    padding: 10px 5px 15px 3px;
    border: 1px solid #457b9d;
    margin: 30px;
    background-color: #f1faee;
    width: 300px;
    box-sizing: border-box;
}

.caja2{
    padding: 10px 5px 15px 3px;
    border: 1px solid #457b9d;
    margin: 20px;
    background-color: #f1faee;
    width: 300px;
    box-sizing: border-box;
}